<h1 style="margin-left: 5%; margin-top: 1% ;">Encontre os melhores voos com as melhores ofertas</h1>
<form>
    <div class="box-value">
        <h4 class="title-entry">TRECHO</h4>
        <select [(ngModel)]="selectedFlightType" class="selectClass" name="selectedFlightType">
            <option *ngFor="let modoVoo of flightType " [value]="modoVoo">
                {{modoVoo}}
            </option>
        </select>
        <button class="travel-button"><i class="travel-button" class="material-icons"
                id="flighticon">flight</i></button>
    </div>
    <div class="box-value">
        <h4 class="title-entry">SAINDO DE</h4>
        <select [(ngModel)]="selectedDeparture" class="selectClass" name="selectedDeparture">
            <option *ngFor="let modoVoo2 of departureList" [value]="modoVoo2">
                {{modoVoo2}}
            </option>
        </select>
        <button class="travel-button"><i class="material-icons" id="flighticon">flight_takeoff</i></button>
    </div>
    <div class="box-value">
        <h4 class="title-entry">INDO PARA</h4>
        <select [(ngModel)]="selectedArrival" class="selectClass" name="selectedArrival"
            [ngClass]="{'combobox-select': true}">
            <option *ngFor="let modoVoo3 of arriveList" [value]="modoVoo3">
                {{modoVoo3}}
            </option>
        </select>
        <button class="travel-button"><i class="material-icons" id="iconInvert">flight_land</i></button>
    </div>
    <div class="box-value">
        <h4 class="title-entry">DATA DE IDA</h4>
        <select [(ngModel)]="selectedDepartureDate" class="selectClass" name="selectedDepartureDate"
            [ngClass]="{'combobox-select': true}">
            <option *ngFor="let modoVoo4 of departureDateList" [value]="modoVoo4">
                {{modoVoo4}}
            </option>
        </select>
        <button class="travel-button"><i class="material-icons" id="flighticon">event</i></button>
    </div>
    <div class="box-value">
        <h4 class="title-entry">DATA DE VOLTA</h4>
        <select [(ngModel)]="selectedArrivalDate" class="selectClass" name="selectedArrivalDate"
            [ngClass]="{'combobox-select': true}">
            <option *ngFor="let modoVoo5 of arriveDateList" [value]="modoVoo5">
                {{modoVoo5}}
            </option>
        </select>
        <button class="travel-button"><i class="material-icons" id="flighticon">event</i></button>
    </div>
    <div class="box-value">
        <h4 class="title-entry">PASSAGEIROS</h4>
        <select [(ngModel)]="selectedPassengersNumber" class="selectClass" name="selectedPassengersNumber"
            [ngClass]="{'combobox-select': true}">
            <option *ngFor="let modoVoo6 of passengersNumber" [value]="modoVoo6">
                {{modoVoo6}}
            </option>
        </select>
        <button class="travel-button"><i class="material-icons" id="flighticon">person</i></button>
    </div>
</form>
<button class="next-button" (click)="submit()">Avançar</button>