mat-form-field {
    width: 100%;
}

.text-input {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    padding: 0px 10px;
    font-size: 15px;
}

.submit-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 10px;
}

.mat-raised-button{
    background-color:red;
} 