<div id="followDiv">
    <div *ngFor="let navItem of navItems; let i=index;" class="nav-content">
        <div *ngIf="navItem.enabled; else disable">
            <span class="number-circle selected"><span>{{i + 1}}</span></span>
            <a [routerLink]="navItem.href">{{navItem.name}}</a>
        </div>
        <ng-template #disable>
            <span class="number-circle"><span>{{i + 1}}</span></span>
            <span>{{navItem.name}}</span>
        </ng-template>
    </div>
</div>
<div class="fancy-line"></div>