#followDiv {
    width: (100% - 10%);
    margin-top: 10pt;
    margin-left: 20pt;
    margin-right: 20pt;
    background-color: white;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-content {
    flex-basis: 20%;
}

@media screen and (max-width: 1120px) {
    .nav-content {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 600px) {
    .nav-content {
        flex-basis: 100%;
    }
}

.number-circle {
    font-size: 12px;
    display: inline-block;
    min-width: 38px;
    min-height: 38px;

    border: 0.1em solid #666;
    color: #666;
    text-align: center;
    border-radius: 50%;

    line-height: 2em;
    box-sizing: content-box;
    margin-right: 10pt;
    margin-bottom: 5pt;
}

.number-circle span {
    display: inline-block;
    font-size: 12pt;
    padding-top: 20%;
    padding-bottom: 20%;
    margin-left: 1px;
    margin-right: 1px;
}

.selected {
    border: 0.2em solid #ff6d0c;
}

.selected span {
    color: #ff6d0c;
}

.fancy-line {
    border: 0;
    height: 1px;
    position: relative;
    margin: 0.5em 0;
}

.fancy-line:before {
    top: -0.5em;
    height: 1em;
}

.fancy-line:after {
    height: 0.5em;
    top: calc(-0.5em + 1.5px);
}

.fancy-line:before,
.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

.fancy-line,
.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
}

body,
.fancy-line:after {
    background: #f4f4f4;
}