<div id="followDiv">
    <div id="step1">
        <label>
            <input type="radio" disabled="true" [(ngModel)]="isChecked1"> Texto1
        </label>
    </div>
    <div id="step2">
        <label>
            <input type="radio" disabled="true" [(ngModel)]="isChecked2"> TT
        </label>
    </div>
    <div id="step3">
        <label>
            <input type="radio" disabled="true" [(ngModel)]="isChecked3"> Texto3
        </label>
    </div>
    <div id="step4">
        <label>
            <input type="radio" [(ngModel)]="isChecked4"> Checkbox
        </label>
    </div>
    <div id="step5">
        <label>
            <input type="radio" [(ngModel)]="isChecked5"> Checkbox
        </label>
    </div>
</div>